@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);
body {
	font-family: 'Open Sans', sans-serif;
}

html,
body {
	height: 100%;
}
body {
	font-size: 15px;
	line-height: 1.50;
	color: #333333;
	background-color: #ffffff;
	position: relative;
}

.background {
	background-image: url("../images/banner.jpg");
	height: 100%;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}